@import "tailwindcss";

body {
  background-color: #F8FAFC; /* Мягкий светлый фон (slate-50) */
  color: #1E293B; /* Темно-серый текст для хорошей читаемости */
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
}