@import "tailwindcss";

@theme {
  --color-dark: #121214;
  --color-slate: #1E1E24;
  --color-neon: #8A2BE2;
  --color-cyan: #00E5FF;
  --color-success: #22C55E;
  --color-error: #EF4444;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: 'Inter', sans-serif;
}